
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    /* will adding an image here replace the header image? */ 
}

div#header {
    /*background: rgb(6, 21, 224); */
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('img/home-cover.jpeg'); /* make bigger */ 
}

div#header h1 {
    font-size: 85px;
    color: #ffffff;
    margin: 15px;
    padding: 4px; /* make bigger */ 
}

div#header h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 15px;
    padding: 20px;
}

div.frame { /* box next to fields, not including field  */
    margin: 15px;
    background: #ffffff;
   /*  background: rgb(6, 21, 224); 
}

/*
div.args {
    padding-left: 100px;
    padding-right: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
*/

div.error {
    padding: 21px;
    margin: 21px;
    /* background: #eee; */
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    text-align: center;
    font-size: 19px;
    color: #000000;
}

fieldset { /* box with results  */
    padding: 3px;
    margin: 1px;
    background: #ffe;  
}

fieldset legend {
    font-weight: bold;
    font-size: 12px;
    background: #ffe;
}

input.query {
    font-size: 15px;
    background: #ffe;
}

label {
    font-size: 15px;
    background: #FFF2AF; /* highlight over zip code, target state, preferences text */
}

table.form { /* input box around text */
    text-align: left;
    background:#FFF2AF; 
    border: 8px solid #f6cf659c;
}

table.form tr td,
table.form tr th {
    vertical-align: top;
    float: center;
}

table.form input {
    margin-right: 8px; /* moves preferences away from check boxes */ 
}

table.form input#id_query {
    font-size: 14px;
}

table.form ul#id_days {
    margin: 0px; 
    padding: 0px;
}

table.form ul#id_days li {
    display: block;
    float: center;
    margin: 0px;
    padding: 0px;
    background: #FFF2AF;
}

table.zips { /* results table */ 
    border: 3px solid #000000; /* make border huge to center? */ 
    padding: 10px; 
    margin: 10px;
    background: #ffffff; 
    text-align: center; 
    border-collapse: collapse;
}

/*
table.zips tr th {
    float: center;
}
*/

table.zips tr td,
table.zips tr th {
    padding: 10px; /* padding between each result */
    font-size: 18px;
    border: 3px solid #000000;
}

table.zips tr:nth-child(even) { /* color of every other result */
    background: #eee; 
}

/*
ul.errorlist {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;

}

ul.errorlist li {
    font-size: 12px;
    color: red;
    margin: 0px;
    padding: 0px;
}
*/

span.helptext { /* help text color */
    font-size: 13px;
    color:#000000; 
    margin: 0px;
    padding: 0px;
}

div#map {
    height: 700px;
    width: 70%;
    float: right;
    margin: 10px;
}